{% extends "GestorDeProjecteBundle:Default:index.html.twig " %} 
{% block body %}
	<table>
    	<tr>
		  	<td><strong>Id</strong></td>
		  	<td><strong>Nif</strong></td>
		  	<td><strong>Nom</strong></td>
		  	<td><strong>Tipus</strong></td>
		  	<td><strong>Hores</strong></td>
		</tr>
	
    	{% for persona in persones %}
    		<tr>
        		<td>{{persona.id}}</td>
        		<td>{{persona.Nif}}</td>
        		<td>{{persona.Nom}}</td>
        		<td>{{persona.Cognom}}</td>
        		<td>{{persona.hores}}</td>
        	</tr>
    	{% endfor %}
	
	</table>
{% endblock %}
